mixin filter(filter)
	+b.filter&attributes(attributes)
		+e.title Поиск по параметрам
		+e('form').form
			each item in filter
				if item.from
					+b.filter-item
						+e.head #{item.head}
						+e.from #{item.from}
						+e.to #{item.to}
						+b('input')(type="text" id="#{item.id}" name="#{item.id}" value="")
				else
					+b.filter-item
						+e.head #{item.head}
						+e.boxes.clearfix
							each prop in item.items
								+e.box.col-md-6
									+e('input').box-input(type="checkbox",id="#{prop[1]}")
									+e('label').box-label(for="#{prop[1]}") #{prop[0]}
